ENABLED_MODEL_PROVIDERS=psnc
DEFAULT_MODEL_PROVIDER=psnc

PSNC_API_KEY=
PSNC_API_BASE_URL=https://llm.hpc.psnc.pl
PSNC_MODEL_NAME=Qwen3.5-397B-A17B
PSNC_MODEL_NAMES=Qwen3.5-397B-A17B,Qwen3-VL-235B-A22B-Instruct-FP8
PSNC_RERANK_MODEL=bge-reranker-v2-m3

ENABLE_WIKIDATA_LINKING=true
RERANK_THRESHOLD=0.1

NANOPUB_PRIVATE_KEY=
NANOPUB_PUBLIC_KEY=
NANOPUB_ORCID_ID=
NANOPUB_AGENT_INTRO_URI=
